{% extends 'master' %}

{% block content %}
<h1> Lehetőségek: </h1>
<ul>
<li><a href="/addBook"> Új könyv hozzáadása </a></li>
<li><a href="/addQuote"> Új idézet hozzáadása </a></li>
</ul>
{% endblock %}