{% extends 'master' %}

{% block content %}
{%if currentUser%}
<h1>Profiladatok megtekintése</h1>
<hr>
<p><b>Felhasználónév:</b> {{ currentUser.username }}</p>
<p><b>E-mail cím:</b> {{currentUser.email}}</p>
<hr>
<p><b>Olvasott könyvek listája: </b></p>
<p>

{%for read in reads%}
    {%if read.user_id == currentUser.id %}
        {%for book in books%}
            {%if read.booktable_id == book.id%}
                <ul class="list-group">
                 <li class="list-group-item">                 
                    <b>{{book.szerzo}}</b>
                </li>
                <li class="list-group-item">
                    <a href="../book/{{ book.id }}">{{ book.cim }}</a>
                </li>
            </ul>
            {%endif%}
        {%endfor%}
    {%endif%}
{%endfor%}

</p>
{%else%}
<h2> Ezt az oldalt csak bejelentkezett felhasználók tekinthetik meg. </h2>
<p> A regisztrációért kattints <a href="/reg">ide</a>. Amennyiben már regisztráltál, kérjük jelentkezz be. </p>
<a class="btn btn-primary" href="/login" role="button">Bejelentkezés</a>
{%endif%}
{% endblock %}